Repository JHU-601/flask-production, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RachelBrodsky, @stephengrice, @KevinKYeh, @johnso51, @nguyen-jhu

.github/CODEOWNERS:

tests/client/ @RachelBrodsky @stephengrice
clueless/static @RachelBrodsky @stephengrice

tests/server/ @KevinKYeh @johnso51 @nguyen-jhu
clueless/*.py @KevinKYeh @johnso51 @nguyen-jhu

Add player names in the notepad
  clueless/static/index.html
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Add pseudocode in views.js as a TODO
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

broadcast winner after 5 players disqualified
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Increase toast length. Add toast to chat log.
  clueless/static/js/controllers.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Fix toast going away too fast. Log on toast.
  clueless/static/js/controllers.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Fix comment
  clueless/static/js/controllers.js
Owners: @RachelBrodsky, @stephengrice

Incorporate Ken's suggestion for Suggestion log
  clueless/static/js/controllers.js
Owners: @RachelBrodsky, @stephengrice

Update disqualified message
  clueless/static/js/controllers.js
Owners: @RachelBrodsky, @stephengrice

Refactor player lookup to be sorted by char id
  clueless/static/js/controllers.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Update styling. Update display on send too.
  clueless/static/css/main.css
  clueless/static/js/controllers.js
Owners: @RachelBrodsky, @stephengrice

feature/no-skipping-tuns
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

End turn automatically when disqualified
  clueless/static/js/controllers.js
Owners: @RachelBrodsky, @stephengrice

feature/server-side-chat-impl
  clueless/messages/__init__.py
  clueless/messages/client.py
  clueless/messages/server.py
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

feature/xss-sanitize
  Pipfile
  Pipfile.lock
  clueless/messages/serialize.py
Owners: none

feature/players-in-lobby
  clueless/messages/server.py
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Allow suggest from current room, major refactor
  clueless/static/index.html
  clueless/static/js/controllers.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Change n/a back to hallway name
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Remove the word "hallway" from the hallways
  clueless/static/index.html
Owners: @RachelBrodsky, @stephengrice

Get basic chat working
  clueless/static/js/controllers.js
Owners: @RachelBrodsky, @stephengrice

Get chat working
  clueless/static/css/main.css
  clueless/static/js/controllers.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Add zero-padding to time in chat log
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

feature/user-reconnect
  clueless/__main__.py
  clueless/messages/server.py
  clueless/state.py
  clueless/static/js/controllers.js
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

Fixed Secret Passage
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Fixed #50
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Add initial pm options to index file
  tmp/geckodriver.log
Owners: none

Implement first pass at PMs
  clueless/static/index.html
  clueless/static/js/controllers.js
  clueless/static/js/views.js
  tmp/geckodriver.log
Owners: @RachelBrodsky, @stephengrice

Add witness items button
  clueless/static/css/main.css
  clueless/static/index.html
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Convert to int before sending chat
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Add privately to PMs
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Get everything working
  clueless/static/index.html
  clueless/static/js/controllers.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Fix bug in develop
  clueless/static/js/controllers.js
Owners: @RachelBrodsky, @stephengrice

Add users in lobby for clientside
  clueless/static/css/main.css
  clueless/static/index.html
  clueless/static/js/controllers.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Add html-sanitizer to requirements.txt
  requirements.txt
Owners: none

feature/integration
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Fix suggest/accuse update on send
  clueless/static/js/controllers.js
Owners: @RachelBrodsky, @stephengrice

Send Complete on localplayer disqual
  clueless/static/js/controllers.js
Owners: @RachelBrodsky, @stephengrice

Undo last commit
  clueless/static/js/controllers.js
Owners: @RachelBrodsky, @stephengrice

feature/integration
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Improve notepad. Set disqualified on player on msg
  clueless/static/index.html
  clueless/static/js/controllers.js
Owners: @RachelBrodsky, @stephengrice

Suggestion number fix. Add maybe to notepad
  clueless/static/css/main.css
  clueless/static/js/controllers.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice
