Repository JHU-601/flask-production, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RachelBrodsky, @stephengrice, @KevinKYeh, @johnso51, @nguyen-jhu

Add one more small change to last commit
  clueless/static/css/main.css
Owners: @RachelBrodsky, @stephengrice

Add ToastPanel and localPlayer visual indicator
  clueless/static/css/main.css
  clueless/static/index.html
  clueless/static/js/controllers.js
  clueless/static/js/views.js
  tests/client/server.py
Owners: @RachelBrodsky, @stephengrice

Get hostname dynamically in JS for websockets
  clueless/static/js/controllers.js
Owners: @RachelBrodsky, @stephengrice

Disable buttons when it is not your turn
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Improve launch_windows.py
  clueless/static/index.html
  clueless/static/js/views.js
  tests/integration/launch_windows.py
Owners: @RachelBrodsky, @stephengrice

feature/minimal-integration
  Pipfile
  Pipfile.lock
  clueless/__main__.py
  clueless/app.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Fix bug
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Fix Move bug
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Add chrome support to launch_windows.py
  tests/integration/launch_windows.py
Owners: none

feature/minimal-integration
  clueless/__main__.py
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Add home positions for players
  clueless/static/css/main.css
  clueless/static/index.html
  clueless/static/js/controllers.js
  clueless/static/js/models.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Fix starting positions
  clueless/static/index.html
Owners: @RachelBrodsky, @stephengrice

Fix again
  clueless/static/index.html
Owners: @RachelBrodsky, @stephengrice

Fix the phat finger
  clueless/static/js/models.js
Owners: @RachelBrodsky, @stephengrice

Yet another fix!
  clueless/static/js/models.js
Owners: @RachelBrodsky, @stephengrice

feature/minimal-integration
  clueless/__main__.py
  clueless/messages/client.py
  clueless/messages/server.py
  clueless/messages/witness.py
  clueless/state.py
  clueless/static/js/controllers.js
  tests/integration/launch_windows.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

Fix names
  clueless/static/css/main.css
  clueless/static/index.html
Owners: @RachelBrodsky, @stephengrice

Show modal for SuggestionQuery
  clueless/static/index.html
  clueless/static/js/controllers.js
Owners: @RachelBrodsky, @stephengrice

Hack SuggestionQueryPanel into existence
  clueless/static/css/main.css
  clueless/static/index.html
  clueless/static/js/controllers.js
  clueless/static/js/models.js
  clueless/static/js/views.js
  tests/integration/launch_windows.py
Owners: @RachelBrodsky, @stephengrice

Get Suggestion flow working
  clueless/static/index.html
  clueless/static/js/controllers.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Fix Kevin issues (softlock, names)
  clueless/static/js/controllers.js
  clueless/static/js/models.js
Owners: @RachelBrodsky, @stephengrice

Switch back to move panel on end turn
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

single logger entry to state crime scene items
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

feature/minimal-integration
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

feature/minimal-integration
  clueless/messages/server.py
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Remove unused clueless/app.py
  clueless/app.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Add clueless systemd service
  Makefile
  cfg/clueless.service
Owners: none

Update panel styles; fix gridlines
  clueless/static/css/main.css
  clueless/static/index.html
Owners: @RachelBrodsky, @stephengrice

Add separate port settings for production
  .env
  clueless/__main__.py
  requirements.txt
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Fix typo
  clueless/__main__.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Fix typo again
  .env
  clueless/__main__.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Add minor tweak
  clueless/__main__.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Add player turn indicator
  clueless/static/css/main.css
  clueless/static/index.html
  clueless/static/js/controllers.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Display multiple people in one room properly
  clueless/static/css/main.css
Owners: @RachelBrodsky, @stephengrice

Fix move functionality in integration script
  tests/integration/launch_windows.py
Owners: none

feature/user-join-server
  clueless/messages/server.py
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

feature/user-join-server
  Pipfile
  Pipfile.lock
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Add help button and help text to btnAbout
  clueless/static/css/main.css
  clueless/static/index.html
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Add client-side handler for new Joined messsage
  clueless/static/js/controllers.js
  clueless/static/js/views.js
  tests/integration/launch_windows.py
Owners: @RachelBrodsky, @stephengrice

Fix temporary changes to integration script
  tests/integration/launch_windows.py
Owners: none

.github/CODEOWNERS:

tests/client/ @RachelBrodsky @stephengrice
clueless/static @RachelBrodsky @stephengrice

tests/server/ @KevinKYeh @johnso51 @nguyen-jhu
clueless/*.py @KevinKYeh @johnso51 @nguyen-jhu
