Repository JHU-601/flask-production, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RachelBrodsky, @stephengrice, @KevinKYeh, @johnso51, @nguyen-jhu

Finish client side tests for types
  .gitattributes
  clueless/js/main.js
  clueless/js/vendor/bootstrap.min.js
  clueless/js/vendor/jquery-3.5.1.min.js
  clueless/js/vendor/socket.io.js
  clueless/static/js/main.js
  gulpfile.js
  tests/client/index.html
  tmpgulpfile.js
Owners: @RachelBrodsky, @stephengrice

Add mock CherryPy server for client-side testing
  clueless/static/gameroom.html
  clueless/static/index.html
  clueless/static/js/main.js
  clueless/static/vendor/js/bootstrap.min.js
  clueless/static/vendor/js/jquery-3.5.1.min.js
  clueless/templates/base.html
  clueless/templates/gameroom.html
  clueless/templates/index.html
  requirements.txt
  tests/client/mock_server.py
Owners: @RachelBrodsky, @stephengrice

Try more things
  .gitignore
  clueless/static/js/main.js
  secure/.keep
  tests/client/mock_server.py
Owners: @RachelBrodsky, @stephengrice

feature/protobuf-impl
  .gitignore
  clueless/messages_pb2.py
  clueless/static/accusation.js
  clueless/static/accuse.js
  clueless/static/available.js
  clueless/static/character.js
  clueless/static/complete.js
  clueless/static/disqualified.js
  clueless/static/hallway.js
  clueless/static/location.js
  clueless/static/move.js
  clueless/static/none.js
  clueless/static/playerturn.js
  clueless/static/position.js
  clueless/static/register.js
  clueless/static/registration.js
  clueless/static/room.js
  clueless/static/suggest.js
  clueless/static/suggestion.js
  clueless/static/suggestionquery.js
  clueless/static/suggestionresponse.js
  clueless/static/suggestionstatus.js
  clueless/static/suggestionwitness.js
  clueless/static/weapon.js
  clueless/static/winner.js
  clueless/static/witness.js
  clueless/static/witnessitem.js
  clueless/static/witnessresponseitem.js
  messages.proto
  requirements.txt
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

Get mock server comms working with asyncio
  clueless/static/gameroom.html
  clueless/static/js/main.js
  requirements.txt
  tests/client/mock_server.py
Owners: @RachelBrodsky, @stephengrice

Move generated JS into messages folder
  clueless/static/js/messages/accusation.js
  clueless/static/js/messages/accuse.js
  clueless/static/js/messages/available.js
  clueless/static/js/messages/character.js
  clueless/static/js/messages/complete.js
  clueless/static/js/messages/disqualified.js
  clueless/static/js/messages/hallway.js
  clueless/static/js/messages/location.js
  clueless/static/js/messages/move.js
  clueless/static/js/messages/none.js
  clueless/static/js/messages/playerturn.js
  clueless/static/js/messages/position.js
  clueless/static/js/messages/register.js
  clueless/static/js/messages/registration.js
  clueless/static/js/messages/room.js
  clueless/static/js/messages/suggest.js
  clueless/static/js/messages/suggestion.js
  clueless/static/js/messages/suggestionquery.js
  clueless/static/js/messages/suggestionresponse.js
  clueless/static/js/messages/suggestionstatus.js
  clueless/static/js/messages/suggestionwitness.js
  clueless/static/js/messages/weapon.js
  clueless/static/js/messages/winner.js
  clueless/static/js/messages/witness.js
  clueless/static/js/messages/witnessitem.js
  clueless/static/js/messages/witnessresponseitem.js
Owners: @RachelBrodsky, @stephengrice

Add messages boilerplate, add Register message to server
  clueless/static/gameroom.html
  clueless/static/index.html
  clueless/static/js/main.js
Owners: @RachelBrodsky, @stephengrice

Fix requirements.txt
  requirements.txt
Owners: none

Get Register message working with mock server
  clueless/static/js/main.js
  requirements.txt
  tests/client/mock_server.py
Owners: @RachelBrodsky, @stephengrice

Implement Move message on client to mock server
  clueless/static/gameroom.html
  clueless/static/js/main.js
  tests/client/mock_server.py
Owners: @RachelBrodsky, @stephengrice

Implement suggest message
  clueless/static/gameroom.html
  clueless/static/js/main.js
  tests/client/mock_server.py
Owners: @RachelBrodsky, @stephengrice

feature/protobuf-impl
  clueless/static/accusation.js
  clueless/static/accuse.js
  clueless/static/available.js
  clueless/static/character.js
  clueless/static/complete.js
  clueless/static/disqualified.js
  clueless/static/hallway.js
  clueless/static/js/messages.js
  clueless/static/js/messages.json
  clueless/static/location.js
  clueless/static/move.js
  clueless/static/none.js
  clueless/static/playerturn.js
  clueless/static/position.js
  clueless/static/register.js
  clueless/static/registration.js
  clueless/static/room.js
  clueless/static/suggest.js
  clueless/static/suggestion.js
  clueless/static/suggestionquery.js
  clueless/static/suggestionresponse.js
  clueless/static/suggestionstatus.js
  clueless/static/suggestionwitness.js
  clueless/static/weapon.js
  clueless/static/winner.js
  clueless/static/witness.js
  clueless/static/witnessitem.js
  clueless/static/witnessresponseitem.js
  package.json
Owners: @RachelBrodsky, @stephengrice

Implement remaining messages
  clueless/static/gameroom.html
  clueless/static/js/main.js
  tests/client/mock_server.py
Owners: @RachelBrodsky, @stephengrice

feature/server-side-types
  clueless/messages/character.py
  tests/server/test_messages.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Implement Available (server to client)
  clueless/static/gameroom.html
  clueless/static/js/main.js
  tests/client/mock_server.py
Owners: @RachelBrodsky, @stephengrice

Implement mock server to client messages
  clueless/static/gameroom.html
  clueless/static/js/main.js
  tests/client/mock_server.py
Owners: @RachelBrodsky, @stephengrice

feature/server-side-types
  clueless/messages/__init__.py
  clueless/messages/character.py
  clueless/messages/client.py
  clueless/messages/hallway.py
  clueless/messages/location.py
  clueless/messages/room.py
  clueless/messages/serialize.py
  clueless/messages/server.py
  clueless/messages/weapon.py
Owners: none

feature/server-side-types
  clueless/messages/serialize.py
Owners: none

Remove files generated by protobuf
  clueless/messages_pb2.py
  clueless/static/js/messages/accusation.js
  clueless/static/js/messages/accuse.js
  clueless/static/js/messages/available.js
  clueless/static/js/messages/character.js
  clueless/static/js/messages/complete.js
  clueless/static/js/messages/disqualified.js
  clueless/static/js/messages/hallway.js
  clueless/static/js/messages/location.js
  clueless/static/js/messages/move.js
  clueless/static/js/messages/none.js
  clueless/static/js/messages/playerturn.js
  clueless/static/js/messages/position.js
  clueless/static/js/messages/register.js
  clueless/static/js/messages/registration.js
  clueless/static/js/messages/room.js
  clueless/static/js/messages/suggest.js
  clueless/static/js/messages/suggestion.js
  clueless/static/js/messages/suggestionquery.js
  clueless/static/js/messages/suggestionresponse.js
  clueless/static/js/messages/suggestionstatus.js
  clueless/static/js/messages/suggestionwitness.js
  clueless/static/js/messages/weapon.js
  clueless/static/js/messages/winner.js
  clueless/static/js/messages/witness.js
  clueless/static/js/messages/witnessitem.js
  clueless/static/js/messages/witnessresponseitem.js
  secure/.keep
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

Remove old reference
  clueless/static/gameroom.html
Owners: @RachelBrodsky, @stephengrice

feature/server-side-types
  clueless/messages/client.py
  clueless/messages/serialize.py
  clueless/messages/server.py
  clueless/messages/witness.py
  tests/server/test_messages.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Revamp home page with start game button, etc.
  clueless/static/css/main.css
  clueless/static/gameroom.html
  clueless/static/img/GilmanCartoon2.jpeg
  clueless/static/img/HampdenCartoon2.jpeg
  clueless/static/img/Hopkins Cartoon 2.jpeg
  clueless/static/img/Hopkins Cartoon.jpeg
  clueless/static/img/Lounge Cartoon.jpeg
  clueless/static/img/Peabody Institute cartoon.jpeg
  clueless/static/img/StacksCartoon.jpeg
  clueless/static/img/The Hutzler Reading Room Cartoon (1).jpeg
  clueless/static/img/TheaterCartoon.jpeg
  clueless/static/img/dining hall cartoon.jpeg
  clueless/static/img/index_page_mockup.PNG:Zone.Identifier
  clueless/static/img/splash.png
  clueless/static/index.html
  clueless/static/js/main.js
  tests/client/mock_server.py
Owners: @RachelBrodsky, @stephengrice

Add flow: Start Game, Create/Join, Gameboard
  clueless/static/css/main.css
  clueless/static/index.html
  clueless/static/js/main.js
Owners: @RachelBrodsky, @stephengrice

Add images for whole board
  clueless/static/css/main.css
  clueless/static/gameroom.html
  clueless/static/img/GilmanCartoon2.jpeg
  clueless/static/img/HampdenCartoon2.jpeg
  clueless/static/img/Hopkins Cartoon 2.jpeg
  clueless/static/img/The Hutzler Reading Room Cartoon (1).jpeg
  clueless/static/img/dining hall cartoon.jpeg
  clueless/static/img/hallway.png
  clueless/static/img/index_page_mockup.PNG:Zone.Identifier
  clueless/static/img/rooms/Lounge Cartoon.jpeg:Zone.Identifier
  clueless/static/img/rooms/ballroom.jpeg
  clueless/static/img/rooms/billiard_room.jpeg
  clueless/static/img/rooms/conservatory.png
  clueless/static/img/rooms/dining_room.jpeg
  clueless/static/img/rooms/hall.jpeg
  clueless/static/img/rooms/kitchen.jpeg
  clueless/static/img/rooms/library.png
  clueless/static/img/rooms/lounge.png
  clueless/static/img/rooms/study.png
  clueless/static/index.html
Owners: @RachelBrodsky, @stephengrice

Minor tweaks
  clueless/static/css/main.css
  clueless/static/js/main.js
Owners: @RachelBrodsky, @stephengrice

Move server, take notes
  clueless/server.py
  clueless/static/gameroom.html
  clueless/static/js/main.js
  tests/client/mock_server.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

Add gameState and messages boxes
  clueless/server.py
  clueless/static/css/main.css
  clueless/static/gameroom.html
  clueless/static/js/main.js
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

Finish state updates for skeletal
  clueless/server.py
  clueless/static/gameroom.html
  clueless/static/js/main.js
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

Add additional messages from discussion with Ken
  clueless/server.py
  clueless/static/gameroom.html
  clueless/static/js/main.js
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

Add Witness message
  clueless/server.py
  clueless/static/js/main.js
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

Added client message tests
  Pipfile
  Pipfile.lock
  clueless/messages/client.py
  tests/server/test_messages.py
  tests/server/test_server.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

feature/skeletal-integration
  Pipfile
  Pipfile.lock
  clueless/__main__.py
  clueless/messages/client.py
  clueless/messages/serialize.py
  clueless/messages/server.py
  clueless/server.py
  clueless/state.py
  clueless/static/gameroom.html
  clueless/static/js/main.js
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

Fix overlapping click handler for btnJoinGame
  clueless/static/js/main.js
Owners: @RachelBrodsky, @stephengrice

Add button on homepage to navigate to gameroom page
  clueless/static/index.html
Owners: @RachelBrodsky, @stephengrice

feature/skeletal-integration
  clueless/__main__.py
  clueless/messages/client.py
  clueless/messages/serialize.py
  clueless/messages/witness.py
  clueless/state.py
  clueless/static/js/main.js
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

feature/skeletal-integration
  clueless/messages/server.py
  clueless/messages/witness.py
  clueless/state.py
  clueless/static/gameroom.html
  clueless/static/js/main.js
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

test
  tests/server/test_server.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Add Display and Interaction panels based on new UI
  clueless/server.py
  clueless/static/css/main.css
  clueless/static/index.html
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

Set up screen 1 interaction panel
  clueless/static/css/main.css
  clueless/static/index.html
  clueless/static/js/main.js
Owners: @RachelBrodsky, @stephengrice

Add Waiting Room, transition to game board
  clueless/static/css/main.css
  clueless/static/img/daniels.png
  clueless/static/index.html
  clueless/static/js/main.js
Owners: @RachelBrodsky, @stephengrice

.github/CODEOWNERS:

tests/client/ @RachelBrodsky @stephengrice
clueless/static @RachelBrodsky @stephengrice

tests/server/ @KevinKYeh @johnso51 @nguyen-jhu
clueless/*.py @KevinKYeh @johnso51 @nguyen-jhu
