Repository JHU-601/flask-production, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RachelBrodsky, @stephengrice, @KevinKYeh, @johnso51, @nguyen-jhu

.github/CODEOWNERS:

tests/client/ @RachelBrodsky @stephengrice
clueless/static @RachelBrodsky @stephengrice

tests/server/ @KevinKYeh @johnso51 @nguyen-jhu
clueless/*.py @KevinKYeh @johnso51 @nguyen-jhu

Add tabs on gameboard screen
  clueless/static/css/main.css
  clueless/static/index.html
Owners: @RachelBrodsky, @stephengrice

Add first pass at frontend class diagram
  docs/design_frontend.md
Owners: none

Add all classes to design_frontend
  docs/design_frontend.md
Owners: none

Update design_frontend.md
  docs/design_frontend.md
Owners: none

Add sequence diagram stubs
  docs/design_frontend.md
Owners: none

Add ModalPanel to design_frontend.md
  docs/design_frontend.md
Owners: none

Add docs/ClueLessDesign.mdj
  docs/ClueLessDesign.mdj
Owners: none

Add SequenceDiagram01CreateGame for clientside
  docs/ClueLessDesign.mdj
Owners: none

Add SequenceDiagram01CreateGame for clientside
  docs/ClueLessDesign.mdj
Owners: none

Complete through Seq05 for frontend. Tweak ADs
  docs/ClueLessDesign.mdj
Owners: none

Complete remaining sequence diagrams for client
  docs/ClueLessDesign.mdj
Owners: none

create game server activity
  docs/ClueLessDesign.mdj
Owners: none

adding more activity diagrams
  docs/ClueLessDesign.mdj
Owners: none

reorg diagrams; added backend diagrams
  docs/ClueLessDesign.mdj
Owners: none

Clean version of diagrams
  docs/ClueLessDesign.mdj
Owners: none

Updated Diagram
  docs/ClueLessDesign.mdj
Owners: none

Remove useless file accidentally added
  clueless/static/img/rooms/Lounge Cartoon.jpeg:Zone.Identifier
Owners: @RachelBrodsky, @stephengrice

Add stubs for majority of frontend classes
  clueless/static/index.html
  clueless/static/js/controllers.js
  clueless/static/js/main-old.js
  clueless/static/js/models.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Add minor tweaks for GamePanel proof of concept
  clueless/static/index.html
  clueless/static/js/controllers.js
  clueless/static/js/main.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Add each panel to GamePanel and style placeholders
  clueless/static/css/main.css
  clueless/static/index.html
  clueless/static/js/main.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Add button listeners and content for StartPanel
  clueless/static/css/main.css
  clueless/static/index.html
  clueless/static/js/main.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Add ability to display modal
  clueless/static/css/main.css
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Set up modal
  clueless/static/index.html
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

implement modal panel
  clueless/static/css/main.css
  clueless/static/img/rooms/Lounge Cartoon.jpeg
  clueless/static/index.html
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Implement basic mesaging
  clueless/static/css/main.css
  clueless/static/js/controllers.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Add About message
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Add transition to screen 2
  clueless/server.py
  clueless/static/css/main.css
  clueless/static/js/controllers.js
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

Add features to waiting room panel
  clueless/static/index.html
  clueless/static/js/controllers.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Add javascript for waitingroompanel
  clueless/static/index.html
  clueless/static/js/controllers.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

add character images, update registration panel
  clueless/static/css/main.css
  clueless/static/img/characterIcons/EdS.png
  clueless/static/img/characterIcons/JeffG.png
  clueless/static/img/characterIcons/JoeD.png
  clueless/static/img/characterIcons/RalphS.png
  clueless/static/img/characterIcons/RonaldD.png
  clueless/static/img/characterIcons/SamS.png
  clueless/static/index.html
Owners: @RachelBrodsky, @stephengrice

Implement register message
  clueless/static/css/main.css
  clueless/static/index.html
  clueless/static/js/controllers.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Updated most Server Logic
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Add handler for Registration message
  clueless/server.py
  clueless/static/css/main.css
  clueless/static/js/controllers.js
  clueless/static/js/models.js
  clueless/static/js/views.js
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

Add logic to registration panel
  clueless/static/css/main.css
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Add button disabling
  clueless/server.py
  clueless/static/css/main.css
  clueless/static/js/controllers.js
  clueless/static/js/views.js
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

Add transition to screen 3
  clueless/server.py
  clueless/static/js/controllers.js
  clueless/static/js/views.js
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

Fill in Gameboard, remove code from skeletal
  clueless/server.py
  clueless/static/css/main.css
  clueless/static/img/blank.png
  clueless/static/index.html
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

Begin InteractionPanel setup
  clueless/static/css/main.css
  clueless/static/index.html
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Finish TabbedPanel
  clueless/static/css/main.css
  clueless/static/index.html
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Make minor tweaks
  clueless/static/css/main.css
  clueless/static/index.html
Owners: @RachelBrodsky, @stephengrice
