Repository JHU-601/flask-production, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RachelBrodsky, @stephengrice, @KevinKYeh, @johnso51, @nguyen-jhu

.github/CODEOWNERS:

tests/client/ @RachelBrodsky @stephengrice
clueless/static @RachelBrodsky @stephengrice

tests/server/ @KevinKYeh @johnso51 @nguyen-jhu
clueless/*.py @KevinKYeh @johnso51 @nguyen-jhu

additional suggestion validations
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Add elements for MovePanel
  clueless/static/index.html
Owners: @RachelBrodsky, @stephengrice

Implement first pass at all panels (with bugs)
  clueless/static/css/main.css
  clueless/static/index.html
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Addressed #23 comments
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

validation checks for accusation
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

revised accusation validation to verify player turn
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Revert "revised accusation validation to verify player turn"
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

server-logicKY
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Updated more Server Logic - Commented on issues
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Add JoinGame sender
  clueless/server.py
  clueless/static/js/controllers.js
  clueless/static/js/views.js
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

Get players to display on board
  clueless/server.py
  clueless/static/css/main.css
  clueless/static/index.html
  clueless/static/js/controllers.js
  clueless/static/js/models.js
  clueless/static/js/views.js
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

Add relative position moves
  clueless/static/js/models.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

add color to character images
  clueless/static/img/characterIcons/EdS.png
  clueless/static/img/characterIcons/EdS_wColor.png
  clueless/static/img/characterIcons/JeffG_wColor.png
  clueless/static/img/characterIcons/JoeD_wColor.png
  clueless/static/img/characterIcons/RalphS_wColor.png
  clueless/static/img/characterIcons/RonaldD_wColor.png
  clueless/static/img/characterIcons/SamS_wColor.png
Owners: @RachelBrodsky, @stephengrice

Use colorful images for characters
  clueless/static/css/main.css
  clueless/static/img/characterIcons/EdS-orig.png
  clueless/static/img/characterIcons/EdS.png
  clueless/static/img/characterIcons/EdS_wColor.png
  clueless/static/img/characterIcons/JeffG-orig.png
  clueless/static/img/characterIcons/JeffG.png
  clueless/static/img/characterIcons/JeffG_wColor.png
  clueless/static/img/characterIcons/JoeD-orig.png
  clueless/static/img/characterIcons/JoeD.png
  clueless/static/img/characterIcons/JoeD_wColor.png
  clueless/static/img/characterIcons/RalphS-orig.png
  clueless/static/img/characterIcons/RalphS.png
  clueless/static/img/characterIcons/RalphS_wColor.png
  clueless/static/img/characterIcons/RonaldD-orig.png
  clueless/static/img/characterIcons/RonaldD.png
  clueless/static/img/characterIcons/RonaldD_wColor.png
  clueless/static/img/characterIcons/SamS-orig.png
  clueless/static/img/characterIcons/SamS.png
  clueless/static/img/characterIcons/SamS_wColor.png
Owners: @RachelBrodsky, @stephengrice

update hallway image
  clueless/static/img/hallway.png
Owners: @RachelBrodsky, @stephengrice

Continue Move
  clueless/static/js/controllers.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Update hallway image to version 3
  clueless/static/img/hallway.png
Owners: @RachelBrodsky, @stephengrice

add darker color to images
  clueless/static/img/characterIcons/EdS.png
  clueless/static/img/characterIcons/JeffG.png
  clueless/static/img/characterIcons/JoeD.png
  clueless/static/img/characterIcons/RalphS.png
  clueless/static/img/characterIcons/RonaldD.png
  clueless/static/img/characterIcons/SamS.png
Owners: @RachelBrodsky, @stephengrice

Fix joe's color
  clueless/static/img/characterIcons/JoeD.png
Owners: @RachelBrodsky, @stephengrice

Add tests for Position and fix bugs
  clueless/server.py
  clueless/static/js/controllers.js
  clueless/static/js/models.js
  clueless/static/js/views.js
  tests/client/index.html
  tests/client/test_client.test.js
  tests/client/test_models.js
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

Add tests for Position and fix bugs
  clueless/server.py
  clueless/static/js/controllers.js
  clueless/static/js/models.js
  clueless/static/js/views.js
  tests/client/index.html
  tests/client/test_client.test.js
  tests/client/test_models.js
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

Tweak design with Rachel
  clueless/static/css/main.css
  clueless/static/index.html
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Move client server into tests folder
  clueless/server.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Finish Move
  clueless/static/js/controllers.js
  clueless/static/js/views.js
  tests/client/server.py
Owners: @RachelBrodsky, @stephengrice

Add Move message send
  clueless/static/index.html
  clueless/static/js/controllers.js
  clueless/static/js/models.js
  clueless/static/js/views.js
  tests/client/server.py
Owners: @RachelBrodsky, @stephengrice

Add Accuse sender
  clueless/static/js/controllers.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

Add Chat, improve Move
  clueless/static/js/controllers.js
  clueless/static/js/views.js
  tests/client/server.py
Owners: @RachelBrodsky, @stephengrice

Add stubs for remaining messages
  clueless/static/js/controllers.js
Owners: @RachelBrodsky, @stephengrice

feature/additional-backend-validation
  clueless/messages/character.py
  clueless/messages/location.py
  clueless/messages/server.py
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

feature/additional-backend-validation
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Debug client side
  clueless/static/js/controllers.js
Owners: @RachelBrodsky, @stephengrice

Debug client side
  clueless/state.py
  clueless/static/js/controllers.js
Owners: @KevinKYeh, @johnso51, @nguyen-jhu, @RachelBrodsky, @stephengrice

feature/minimal-integration
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Debug clientside
  clueless/static/index.html
  clueless/static/js/controllers.js
  clueless/static/js/views.js
Owners: @RachelBrodsky, @stephengrice

feature/minimal-integration
  clueless/messages/server.py
Owners: none

feature/minimal-integration
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

feature/minimal-integration
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Add tests/integration/launch_windows.py
  clueless/static/js/controllers.js
  clueless/static/js/views.js
  tests/integration/launch_windows.py
Owners: @RachelBrodsky, @stephengrice

feature/minimal-integration
  clueless/__main__.py
  clueless/app.py
  clueless/state.py
Owners: @KevinKYeh, @johnso51, @nguyen-jhu

Fix panel display issues in InteractionPanel
  clueless/static/css/main.css
  clueless/static/js/main-old.js
  tests/client/server.py
Owners: @RachelBrodsky, @stephengrice
